<html>
	<head>
		<link href="https://raw.github.com/Lvcios/balloon/master/static/css/bootstrap.css" rel="stylesheet">
		<style type="text/css">
			body {
				padding-top: 60px;
				padding-bottom: 40px;
				}
			.sidebar-nav {
				padding: 9px 0;
				}
		</style>
		<link href="https://raw.github.com/Lvcios/balloon/master/static/css/bootstrap-responsive.css" rel="stylesheet">
		<title>México dice</title>
	</head>
	<body text="center" class="well">
		<div id="fb-root"></div>
			<script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>
			<!-- Coloca esta función de publicación donde corresponda. -->
			<script type="text/javascript">
			window.___gcfg = {lang: 'es'};
			(function() {
				var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				po.src = 'https://apis.google.com/js/plusone.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
				})();
			</script>
		<div class="well" align="center">
			<h1>Mexico dice: Un grito a la Democracia</h1>
			<h2><p>Esta es la voz del pueblo mexicano:</p></h2>
		</div>
		<div class="well" align="center">
			<script src="https://raw.github.com/Lvcios/balloon/master/static/js/tweetquote.js" type="text/javascript" charset="utf-8"></script>
				<script type="text/javascript" charset="utf-8">
					//<![CDATA[
					//tweetquote.load( {
					//	"phrase" : "AMLO OR EPN OR JVM OR QUADRI -RT -filter:links"
					//	} );
					tweetquote.load("AMLO OR EPN OR JVM OR QUADRI -RT -filter:links");
					//]]>
				</script>
		</div>
		<div class="well" align="Center">
			<h4>La idea es mostrar que se habla de los candidatos en la  red social del pájaro azul.</h4>
			<h3>Los neutrales, los priistas, los izquierdistas, los obraduristas, los panistas, los valemadristas, los cultos,
			los inteligentes... Las opinión de todos ellos está aquí</h3>
			
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://mexico-says.herokuapp.com/mexicosays/" data-text="Mexico dice: Un grito a la Democracia" data-via="Lvcios" data-count="none">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			<div class="fb-like" data-href="http://mexico-says.herokuapp.com/mexicosays/" data-send="true" data-width="450" data-show-faces="true"></div>
			<!-- Coloca esta etiqueta en el lugar en el que deseas que se publique el botón de +1. -->
			<g:plusone size="medium" annotation="inline"></g:plusone>
			<p></p>
			<p></p>
			<p>Está aplicación fue desarrollada por Lucio Flores, estudiante de Informática en UPIICSA IPN.</p>
			<p>Contacto:</p>
			<p>Twitter: @Lvcios</p>
			<p>Correo:lvcios@hotmail.com</p>
			<p>Herramientas Usadas:</p>
			<p>Django, Bootstrat y TweetQuote</p>
		</div>
		<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
		<script src="https://raw.github.com/Lvcios/balloon/master/static/js/jquery-1.7.2.js"></script>
		<script src="https://raw.github.com/Lvcios/balloon/master/static/js/bootstrap-carousel.js">
		<script src="https://raw.github.com/Lvcios/balloon/master/static/js/prettify.js"></script>
		<script src="https://raw.github.com/Lvcios/balloon/master/static/js/bootstrap-transition.js"></script>
		<script src="https://raw.github.com/Lvcios/balloon/master/static/js/bootstrap-alert.js"></script>
		<script src="https://raw.github.com/Lvcios/balloon/master/static/js/bootstrap-modal.js"></script>
		<script src="https://raw.github.com/Lvcios/balloon/master/static/js/bootstrap-dropdown.js"></script>
		<script src="https://raw.github.com/Lvcios/balloon/master/static/js/bootstrap-scrollspy.js"></script>
		<script src="https://raw.github.com/Lvcios/balloon/master/static/js/bootstrap-tab.js"></script>
		<script src="https://raw.github.com/Lvcios/balloon/master/static/js/bootstrap-tooltip.js"></script>
		<script src="https://raw.github.com/Lvcios/balloon/master/static/js/bootstrap-popover.js"></script>
		<script src="https://raw.github.com/Lvcios/balloon/master/static/js/bootstrap-button.js"></script>
		<script src="https://raw.github.com/Lvcios/balloon/master/static/js/bootstrap-collapse.js"></script>
		<script src="https://raw.github.com/Lvcios/balloon/master/static/js/bootstrap-carousel.js"></script>
		<script src="https://raw.github.com/Lvcios/balloon/master/static/js/bootstrap-typeahead.js"></script>
		<script src="https://raw.github.com/Lvcios/balloon/master/static/js/application.js"></script>
		<script>$('.carousel').carousel({interval: 10000});</script>
		
	</body>
</html>

