<html>
	<head>
		<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
		<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
		<title>México dice</title>
	</head>
	<body text="center" class="well">
		<div class="carousel slide slid" id="myCarousel">
			<div class="carousel-inner">
				<div class="item active" align="center"> 
					<!--<div class="carousel-caption">-->
						<h1>México Dice: Un grito a la Democracia</h1>
					<!--</div>-->
				</div>
				{% for tweet in lista_tweets %}
				<div class="item" align="center" >
					<!--<div class="carousel-caption">-->
						<p><h3>@{{ tweet.usuario }}</h3> <h4>dijo:</h4></p>
						<p><h1>{{ tweet.frase }}</h1></p>
						<p><h4>El día:</h4> <h3>{{ tweet.fechahora}}</h3></p>
					<!--</div>-->
				</div>
				{% endfor %}
			</div>
			<!--<a data-slide="prev" href="#myCarousel" class="left carousel-control">&lsaquo;</a>
			<a data-slide="next" href="#myCarousel" class="right carousel-control">&rsaquo;</a>-->
		</div>
		<!--<table class="table table-stripe" align="center">
			{% for tweet in lista_tweets %}
			<tr>
				<td>{{ tweet.usuario }}</td>
				<td>{{ tweet.frase }}</td>
				<td>{{ tweet.fechahora}}</td>
			</tr>
			{% endfor %}
		</table>-->
		
		<p>Está aplicación fue desarrollada por Lucio Flores, estudiante de Ingeniería en Informática en UPIICSA.</p>
		<p>Contacto:</p>
		<p>Twitter: @Lvcios</p>
		<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
		<script src="http://twitter.github.com/bootstrap/assets/js/jquery.js"></script>
		<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-carousel.js"></script>
		<script>$('.carousel').carousel() </script>
		<script>$('.carousel').carousel({interval:200000});</script>
	</body>
</html>

